body {
  background-color: rgb(94, 94, 94);
}
h1,
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
body {
  font-family: "Times New Roman", Times, serif;
}
body {
  text-align: center;
}
#abc {
  text-align: center;
}
ul {
  text-align: center;
  list-style-position: inside;
}
