body {
  background-color: rgb(78, 78, 78);
  font-family: serif, garamond;
  margin: auto;
  width: 450px;
}
h1,
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
body {
  font-family: "Times New Roman", Times, serif;
}
